{{define "title"}}
400
{{end}}

{{define "content"}}
<div class="row p-2">
        <div class="col">
                <div class="card ">
                        <div class="card-header">
                                <p class="h5">Bad Request</p>
                        </div>
                        <div class="card-body">
                               400
                        </div>
                </div>
        </div>
</div>
{{end}}