{{define "title"}}
Documents
{{end}}

{{define "content"}}
 

<div class="row p-2">
  <div class="col">
    <div class="card ">
      <div class="card-header">
        <p class="h5">Available documents

        </p>
       
      </div>

 
      <div class="card-body">

         
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/docs/envvar">Environment variables</a></li>
          <li class="list-group-item"><a href="/docs/datetime">Date Time formats</a></li>

          <li class="list-group-item"><a href="/docs/faq">FAQ</a></li>
          <li class="list-group-item"><a href="/docs/prtable">Promotion table</a></li>
 
          <li class="list-group-item"><a href="/docs/uttable">User token table</a></li>
        </ul>
 
      </div>
  </div>
</div>
</div>
    {{end}}


 