{{define "title"}}
Delete Param Validator
{{end}}

{{define "content"}}
 
<div class="row p-2">
    <div class="col">
      <div class="card ">
        <div class="card-header">
          <p class="h5"> Delete Param Validator
  
          </p>
  
            </div>
          <div class="card-body">
           


            <div class="alert alert-secondary" role="alert">
                  Name.........:  <a href="" class="alert-link">{{.ParamRegex.Name}}</a>
                  <br>
                  <br>
                  Regex.........:  <a href="" class="alert-link">{{.ParamRegex.Regex}}</a>

            </div>

<form action='/pramregex/delete' method='POST'  >
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <input type="hidden" name="id" value="{{.ParamRegex.Name}}">
 

 
    <button type="submit" class="btn btn-danger">  <svg class="c-icon">
        <use xlink:href="/static/coreui/vendors/coreui/icons/svg/free.svg#cil-trash"></use></svg> Confirm</button>

</form>

</div>
</div>
</div>
</div>
{{end}}