{{define "title"}}
Roles
{{end}}

{{define "content"}}
<br />
<div class="px-5">
    <div class="row">
        <div class="col" style="padding-bottom: 10px;">
            <p class="h5">User Roles <a class="btn btn-primary" href="/rbac/addrole">+Add</a></p>
        </div>



    </div>


    <table id="rbackrolelist" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Role</th>
                
                <th>Options </th>

            </tr>
        </thead>
        <tbody>
            {{if .RbacRoles}}

            {{range .RbacRoles}}
            <tr>
                <td>{{.}} </td>





                <td>


                    <a class="btn btn-danger" href='/'>Delete</a>
                    <a class="btn btn-danger" href='/rbac/managerole/{{.}}'>Manage Permissions</a>


                </td>

            </tr>
            {{end}}
        </tbody>
    </table>
    {{end}}

</div>
{{end}}


{{define "aftercontent"}}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#rbackrolelist').DataTable({
            "pageLength": 100,
            "language": {
                "emptyTable": "No records."
            }
        });
    });
</script>
{{end}}