{{define "title"}}
Permissions
{{end}}

{{define "content"}}
<br />
<div class="px-5">
    <div class="row">
        <div class="col" style="padding-bottom: 10px;">
            <p class="h5">Permissions</p>
        </div>



    </div>


    <table id="rbackpermissionlist" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Permission</th>
                
      

            </tr>
        </thead>
        <tbody>
            {{if .RbacPermissions}}

            {{range .RbacPermissions}}
            <tr>
                <td>{{.}}</a></td>




 
            </tr>
            {{end}}
        </tbody>
    </table>
    {{end}}

</div>
{{end}}


{{define "aftercontent"}}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#rbackpermissionlist').DataTable({
            "pageLength": 100,
            "language": {
                "emptyTable": "No records."
            }
        });
    });
</script>
{{end}}