{{define "title"}}
Endpoint
{{end}}

{{define "content"}}
<div class="row p-2">
    <div class="col">
        <div class="card ">
            <div class="card-header">
                <p class="h5">
                    Delete Endpoint
              </p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <table class="table   table-borderless table-responsive-sm table-striped    ">
                            <tbody>
                                {{if .RpgEndPoint.AllowWithoutAuth}}
                                <tr>
                                    <th scope="row" class="text-danger">Allowed Without Auth</th>
                                    <td  class="text-danger">{{.RpgEndPoint.AllowWithoutAuth| yesNo}}</td>
                                </tr>
                                {{end}}

                                <tr>
                                    <th scope="row">EndPoint name</th>
                                    <td>{{.RpgEndPoint.EndPointName}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Http Method</th>
                                    <td>{{.RpgEndPoint.HttpMethod}}</td>
                                </tr>
                                {{if .RpgEndPoint.AllowWithoutAuth}}
                                <tr>
                                    <th class="text-danger" scope="row">URL without Auth</th>
                                    <td class="text-danger" >{{$.HostUrl}}/{{.RpgEndPoint.MockUrlWithoutAuth}}</td>
                                </tr>
                                {{end}}
                                <tr>
                                    <th scope="row">URL</th>
                                    <td>{{$.HostUrl}}/{{.RpgEndPoint.MockUrl}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Payload</th>
                                    <td>
                                        <pre>{{.RpgEndPoint.InputPayload}}</pre>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">Default Server</th>
                                    <td> {{.RpgEndPoint.DefaultServerId|servername}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Program</th>
                                    <td>{{.RpgEndPoint.Name}}</td>
                                </tr>
                                <tr>
                                    <th scope="row"> Lib</th>
                                    <td>{{.RpgEndPoint.Lib}}</td>
                                </tr>


                              
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Parameter -->




                <form method="post" action="/pgmendpoints/delete">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                      <input type="hidden" name="spId" value="{{.RpgEndPoint.ID}}">
                <button type="submit" class="btn btn-danger">Confirm</button>
                
                </form>
            
            
            
            </div>
        </div>
    </div>
 

</div>

<!-- Parameter -->

 
 

{{end}}


 