{{define "title"}}
Add
{{end}}


{{define "content"}}
<div class="row p-2">
    <div class="col-8" id="spaddcol">
        <div class="card " id="spaddcard" style="height: 100%;">
            <div class="card-header">
                <p class="h5">
                    {{if .Form.ID}} Edit {{else}} Add {{end}} RPG Program


                </p>
            </div>
            <div class="card-body">

                <form action="/rpgprogram/{{if .Form.ID}}update/{{.Form.ID}}{{else}}add{{end}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <input type="hidden" id="id" name="id" value="{{.Form.ID}}">



                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" class="form-control {{with .Form.FieldErrors.name}} is-invalid {{end}}"
                            type="text" name="name" aria-describedby="namehelp" placeholder="Name"
                            value='{{.Form.Name}}' required></input>

                        {{with .Form.FieldErrors.name}}
                        <div class='invalid-feedback'>{{.}}</div>
                        {{end}}
                    </div>

                    <div class="form-group">
                        <label for="lib">Library</label>
                        <input id="lib" class="form-control {{with .Form.FieldErrors.lib}} is-invalid {{end}}"
                            type="text" name="lib" aria-describedby="libhelp" placeholder="Library Name"
                            value='{{.Form.Lib}}' required></input>

                        {{with .Form.FieldErrors.lib}}
                        <div class='invalid-feedback'>{{.}}</div>
                        {{end}}
                    </div>







                    {{if .Form.Parameters}}
                    {{range $i, $params :=.Form.Parameters}}


                    <input name="Parameters[{{$i}}].Seq" value="{{$i}}" type="hidden"/>
                    <!-- INout type -->

                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="endpointmethod">Parameter usage</label>
                                <!-- Use the `with` action to render the value of .Form.FieldErrors.title if it is not empty. -->
                                <SELECT class="form-control" name="Parameters[{{$i}}].InOutType">
                                    <OPTION {{if eq $params.InOutType "both" }}selected{{end}} value="both">INOUT
                                    </OPTION>
                                    <OPTION {{if eq $params.InOutType "in" }}selected{{end}} value="in">IN</OPTION>
                                    <OPTION {{if eq $params.InOutType "out" }}selected{{end}} value="out">OUT</OPTION>
                                </SELECT>
                            </div>


                        </div>

                        <div class="col-8">


                            <div class="form-group">
                                <label for="dsfields">Field {{$i|indexby1}}</label>
                                <SELECT class="form-control" name="Parameters[{{$i}}].FieldID">
                                    <OPTION value="">Select Field</OPTION>
                                    {{if $.RpgParams}}
                                    {{range $i2, $rpgParam := $.RpgParams}}
                                    <OPTION {{if eq $params.FieldID $rpgParam.ID}} selected {{end}}
                                        value="{{$rpgParam.ID}}">

                                        {{$rpgParam.ID|getrpgparamstring}}
                                    </OPTION>
                                    {{end}}
                                    {{end}}
                                </SELECT>
                            </div>
                        </div>

                    </div>


                    <!-- FieldId type -->




                    {{end}}

                    {{end}}




                    <br />
                    <button type="submit" class="btn btn-primary">Submit</button>


                </form>
            </div>

        </div>
    </div>






    <!-- Search -->


</div>

{{end}}