{{define "title"}}
Server detail
{{end}}

{{define "content"}}


<div class="row p-2">
  <div class="col">
    <div class="card " style="height: 100%;">
      <div class="card-header">
        <p class="h5">Server Details </p>

      </div>


      <div class="card-body">
        <table class="table table-bordered table-striped">
          <tbody>


            <tr>
              <td>Server Name</td>
              <td>{{.Server.Name}}</td>
            </tr>

            <tr>
              <td>Server IP</td>
              <td>{{.Server.IP}}</td>
            </tr>

            <tr>
              <td>Server Port</td>
              <td>{{.Server.Port}}</td>
            </tr>



            <tr>
              <td>User Name</td>
              <td>{{.Server.UserName}}</td>
            </tr>



            <tr>
              <td>Max open Connections</td>
              <td>{{.Server.MaxOpenConns}}</td>
            </tr>

            <tr>
              <td>Max Idle Connections</td>
              <td>{{.Server.MaxIdleConns}}</td>
            </tr>

            <tr>
              <td>Connection max age</td>
              <td>{{.Server.ConnMaxLifetime}}</td>
            </tr>

            <tr>
              <td>Connection idle age</td>
              <td>{{.Server.ConnMaxIdleTime}}</td>
            </tr>
          </tbody>
        </table>

        <a  hx-push-url="true" class="btn btn-primary " href="/servers">Back to Server list</a>


      </div>
    </div>
  </div>
  {{if $.Features.AllowLibList}} 
  <div class="col">
    <div class="card " style="height: 100%;">
      <div class="card-header">
        <p class="h5">Given Lib List</p>
      </div>
      <div class="card-body">

        <table id="givenliblist"           class="table   table-borderless table-responsive-sm table-striped    ">
          <thead class="thead-dark">
             <tr>
                <th>Lib</th>
               
               
             </tr>
           </thead>
       
           <tbody>
       
             {{range $libseq, $libname := .Server.LibList}}
             {{if $libname}}
             <tr>
                      <td>  {{ $libseq|indexby1 }}. {{$libname}}</td>
                     
             </tr>   
             {{end}}      
             {{end}}
           </tbody>
           
       </table>

       
         

      </div>
    </div>
  </div>
  {{end}}




  <div class="col">
    <div class="card " style="height: 100%;">
      <div class="card-header">
        <p class="h5">Job Lib List</p>
      </div>
      <div class="card-body"  hx-get="/servers/liblist/{{.Server.ID}}" hx-trigger="load delay:100ms">
        <p>Loading...</p>
      </div>
    </div>
  </div>

</div>


<!--  Endpoints -->
<div class="row p-2">
  <div class="col">
    
    <span  hx-get="/endpoints?server={{$.Server.ID}}" hx-trigger="load" hx-select="#eplistcard">
      <p>Loading...</p>
  </span>
  </div>
</div>




 



<div class="row p-2">
  <div class="col">
    <div class="card ">
      <div class="card-header">
        <p class="h5">Users <a class="btn btn-ghost-info float-right" href="/users/add">+Add</a></p>
      </div>
      <div class="card-body">
        <table id="rbackrolelist" class="table   table-borderless table-responsive-sm table-striped    ">
          <thead class="thead-dark">

            <tr>
              <th>Email</th>
              <th>Name</th>
              <th>Created</th>
              <th>Super User</th>
              <th>Staff</th>

              <th>Verified</th>

              <th>Options </th>

            </tr>
          </thead>
          <tbody>
            {{if .Users}}

            {{range .Users}}
            <tr>
              <td>{{.Email}} </td>

              <td>{{.Name}} </td>
              <td>{{.Created }} </td>
              <td>{{.IsSuperUser | yesNo}} </td>
              <td>{{.IsStaff | yesNo}} </td>

              <td>{{.HasVerified | yesNo}} </td>


              <td>

                <a class="btn btn-ghost-info  " href='/users/edit/{{.ID}}'>
                  <svg class="c-icon">
                    <use xlink:href="/static/coreui/vendors/coreui/icons/svg/free.svg#cil-pencil"></use>
                  </svg>
                </a>
                {{if $.CurrentUser.IsSuperUser}}
                <a class="btn btn-danger" href='/users/delete/{{.ID}}'>Delete</a>

                {{end}}

              </td>

            </tr>
            {{end}}
            {{end}}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
{{end}}


{{define "aftercontent"}}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script>

  $(document).ready(function () {
    $('#splist').DataTable(
      {
        "pageLength": 100,
        "language": {
          "emptyTable": "No results found"
        }
      }
    );

    $('#rbackrolelist').DataTable({
      "pageLength": 100,
      "language": {
        "emptyTable": "No records."
      }
    });
  });
</script>
{{end}}