{{define "title"}}
Server detail
{{end}}

{{define "content"}}
 

<div class="row p-2">
    <div class="col-6">
      <div class="card ">
        <div class="card-header">
          <p class="h5">Server Details 
          
  
          </p>
         
        </div>
  
   
        <div class="card-body">
<table  class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td>Server ID</td>
            <td>{{.Server.ID}}</td>
        </tr>

        <tr>
            <td>Server Name</td>
            <td>{{.Server.Name}}</td>
        </tr>

        <tr>
            <td>Server IP</td>
            <td>{{.Server.IP}}</td>
        </tr>
     
        <tr>
            <td>Server Port</td>
            <td>{{.Server.Port}}</td>
        </tr>

        <tr>
            <td>Server Name</td>
            <td>{{.Server.Ssl}}</td>
        </tr>

        <tr>
            <td>User Name</td>
            <td>{{.Server.UserName}}</td>
        </tr>

 

       <tr>
            <td>Max open Connections</td>
            <td>{{.Server.MaxOpenConns}}</td>
        </tr>

        <tr>
            <td>Max Idle Connections</td>
            <td>{{.Server.MaxIdleConns}}</td>
        </tr>

        <tr>
            <td>Connection max age</td>
            <td>{{.Server.ConnMaxLifetime}}</td>
        </tr>

        <tr>
            <td>Connection idle age</td>
            <td>{{.Server.ConnMaxIdleTime}}</td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary " href="/servers">Back to Server list</a>

 
</div>
</div>
</div>
</div>

{{end}}