
{{define "title"}}
Add
{{end}}


{{define "content"}}
<div class="row p-2">
    <div class="col-6">
        <div class="card ">
            <div class="card-header">
                <p class="h5">
                    {{if .Form.ID}} Edit {{else}} Add {{end}} EndPoint</p>
            </div>
            <div class="card-body">

<form action="/sp/{{if .Form.ID}}update/{{.Form.ID}}{{else}}add{{end}}" method="POST">
         <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
         <input type="hidden" name="id" value="{{.Form.ID}}">

         <div class="form-group">
          <label for="endpointname">EndPoint Name</label>
          <input id="endpointname" class="form-control {{with .Form.FieldErrors.endpointname}} is-invalid {{end}}" type="text"
              name="endpointname" aria-describedby="endpointnamehelp" placeholder="EndPoint name" value='{{.Form.EndPointName}}'
              required></input>


          <!-- Use the `with` action to render the value of .Form.FieldErrors.title if it is not empty. -->

          {{with .Form.FieldErrors.endpointname}}
          <div class='invalid-feedback'>{{.}}</div>
          {{end}}



      </div>
 


    <div class="form-group">
        <label for="endpointmethod">HTTP Method</label>


        <!-- Use the `with` action to render the value of .Form.FieldErrors.title if it is not empty. -->

        <SELECT class="form-control" name="httpmethod">
            <OPTION {{if eq .Form.HttpMethod "POST" }}selected{{end}} value="POST">POST</OPTION>
            <OPTION {{if eq .Form.HttpMethod "GET" }}selected{{end}} value="GET">GET</OPTION>
            <OPTION {{if eq .Form.HttpMethod "PUT" }}selected{{end}} value="PUT">PUT</OPTION>
            <OPTION {{if eq .Form.HttpMethod "DELETE" }}selected{{end}} value="DELETE">DELETE
            </OPTION>
        </SELECT>


        {{with .Form.FieldErrors.httpmethod}}
        <div class='invalid-feedback'>{{.}}</div>
        {{end}}


    </div>

            <div class="form-group">
                <label for="defaultserver">Default Server</label>
            <SELECT id="defaultserver" class="form-control" name="serverid">
                <OPTION value="">Default Server</OPTION>

                {{if .Servers}}
                {{range .Servers}}
                <OPTION 

                {{if $.Form.DefaultServer}}
                {{if eq .ID $.Form.DefaultServer.ID}} selected {{end}} 
                {{end}}
                value="{{.ID}}">
                    
                    {{.Name}}
                </OPTION>
                {{end}}
                {{end}}
            </SELECT>

        </div>

        <div class="form-group">
            <label for="name">Stored Procedure Name</label>
            <input id="name" class="form-control {{with .Form.FieldErrors.name}} is-invalid {{end}}" type="text"
                name="name" aria-describedby="namehelp" placeholder="SP name" value='{{.Form.Name}}'
                required></input>


            <!-- Use the `with` action to render the value of .Form.FieldErrors.title if it is not empty. -->

            {{with .Form.FieldErrors.name}}
            <div class='invalid-feedback'>{{.}}</div>
            {{end}}


 
        </div>

        <div class="form-group">
          <label for="lib">Stored Procedure Lib</label>
          <input id="lib" class="form-control {{with .Form.FieldErrors.lib}} is-invalid {{end}}" type="text"
              name="lib" aria-describedby="libhelp" placeholder="lib name" value='{{.Form.Lib}}'
              required></input>


          <!-- Use the `with` action to render the value of .Form.FieldErrors.title if it is not empty. -->

          {{with .Form.FieldErrors.lib}}
          <div class='invalid-feedback'>{{.}}</div>
          {{end}}



      </div>
    


       

     

        <div class="form-check">
            <input value='true' {{if .Form.UseSpecificName}} checked {{end}} type="checkbox" class="form-check-input" name="usespecificname" id="usespecificname">
            <label class="form-check-label" for="usespecificname">Using Specific name</label>
        </div>


        <br />
   
        <div class="form-check">
            <input value='true' {{if .Form.AllowWithoutAuth}} checked {{end}} type="checkbox" class="form-check-input" name="awoauth" id="awoauth">
            <label  class="form-check-label text-danger" for="awoauth">Allow without Auth</label>
        </div>


        <br />
   

 

     <br />
    <button type="submit" class="btn btn-primary">Submit</button>


</form>
</div> 

</div>
</div>
</div>
 
{{end}}

