{{define "title"}}
EndPoints
{{end}}

{{define "content"}}
 
 
<div class="row p-2">
  <div class="col">
    <div class="card" id="splistcard">
      <div class="card-header">
        <p class="h5">Endpoints 
          <a  hx-push-url="true"  class="btn btn-ghost-info float-right" href="/sp/add">+Add</a>
          <a  hx-push-url="true"  class="btn btn-ghost-info float-right" href="/sp/help">Help</a>

        </p>
       
      </div>

 
      <div class="card-body">
<table id="splist"    class="table   table-borderless table-responsive-sm table-striped    ">
  <thead class="thead-dark">
    <tr>
      <th>Namespace</th>
      <th>EndPoint name</th>
      <th>Method</th>
      <th>Server</th>
      <th>StoredProc</th>
      <th>Specific</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    {{if .StoredProcs}}
    {{range .StoredProcs}}
    <tr>
      <td>{{.Namespace}}</td>
      <td>{{.EndPointName}}</td>
      <td>{{.HttpMethod}}</td>
      <td>{{if .DefaultServer}} {{.DefaultServer.Name}} {{end}}</td>

      <td>{{.Lib}}/{{.Name}}</td>
      <td>{{.SpecificLib}}/{{.SpecificName}}</td>
       <td nowrap>
        <a  hx-push-url="true"  class="btn btn-ghost-info" href='/sp/{{.ID}}'>
        
          View</a>

        <!-- <a class="btn btn-ghost-info" 
        data-toggle="tooltip" data-placement="bottom" title="Edit" 
        href='/sp/update/{{.ID}}'>
          <svg class="c-icon mfe-2">
            <use xlink:href="/static/coreui/vendors/coreui/icons/svg/free.svg#cil-pencil"></use>
        </svg></a> -->

        {{if not .IsSpecial}}
        <a  hx-push-url="true"  class="btn btn-ghost-danger" 
        data-toggle="tooltip" data-placement="bottom" title="Delete" 
        href='/sp/delete/{{.ID}}'>
          <svg class="c-icon mfe-2">
            <use xlink:href="/static/coreui/vendors/coreui/icons/svg/free.svg#cil-trash"></use>
        </svg></a>
  {{end}}
      </td>

    </tr>
    {{end}}

    {{else}}
     {{end}}
  </tbody>
</table>
 
</div>
</div>
</div>
</div>

{{end}}


{{define "aftercontent"}}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script>
  
    $(document).ready( function () {
      $('#splist').DataTable(
        {"pageLength": 100,
              "language": {
                "emptyTable": "No results found"
              }
          }
      );
  } );
</script>
{{end}}