{{define "title"}}
Endpoint
{{end}}

{{define "content"}}
<div class="row p-2">
    <div class="col-xl-6">
        <div class="card " style="height: 100%;">
            <div class="card-header">
                <p class="h5">
                    EndPoint details:{{.StoredProc.EndPointName}}
                    <a class="btn btn-ghost-info" 
                    data-toggle="tooltip"
                    hx-indicator = "#processing"
                     data-placement="bottom" title="Reload" 
                    href="/sp/refresh/{{.StoredProc.ID}}">
                        <svg class="c-icon mfe-2">
                            <use xlink:href="/static/coreui/vendors/coreui/icons/svg/free.svg#cil-reload"></use>
                        </svg>
                    </a>
                 </p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <table class="table   table-borderless table-responsive-sm table-striped    ">
                            <tbody>
                                {{if .StoredProc.AllowWithoutAuth}}
                                <tr>
                                    <th scope="row" class="text-danger">Allowed Without Auth</th>
                                    <td  class="text-danger">{{.StoredProc.AllowWithoutAuth| yesNo}}</td>
                                </tr>
                                {{end}}

                                <tr>
                                    <th scope="row">EndPoint name</th>
                                    <td>{{.StoredProc.EndPointName}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Http Method</th>
                                    <td>{{.StoredProc.HttpMethod}}</td>
                                </tr>
                                {{if .StoredProc.AllowWithoutAuth}}
                                <tr>
                                    <th class="text-danger" scope="row">URL without Auth</th>
                                    <td class="text-danger" >
                                        <span class="copyclip" data-clipboard-text="{{$.HostUrl}}/{{.StoredProc.MockUrlWithoutAuth}}">
                                            {{$.HostUrl}}/{{.StoredProc.MockUrlWithoutAuth}}
                                        </span></td>
                                </tr>
                                {{end}}
                                <tr>
                                    <th scope="row">URL</th>
                                    <td>
                                        <span class="copyclip" data-clipboard-text="{{$.HostUrl}}/{{.StoredProc.MockUrl}}">
                                        {{$.HostUrl}}/{{.StoredProc.MockUrl}}
                                    </span>
                                    
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Payload</th>
                                    <td>
                                        <pre>{{.StoredProc.InputPayload}}</pre>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Namespace</th>
                                    <td>{{.StoredProc.Namespace}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Default Server</th>
                                    <td>{{if .StoredProc.DefaultServer}} {{.StoredProc.DefaultServer.Name}}{{end}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Stored Proc</th>
                                    <td>{{.StoredProc.Name}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Stored Proc Lib</th>
                                    <td>{{.StoredProc.Lib}}</td>
                                </tr>


                                <tr>
                                    <th scope="row">Specific Stored Proc</th>
                                    <td>{{.StoredProc.SpecificName}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Specific Stored Proc Lib</th>
                                    <td>{{.StoredProc.SpecificLib}}</td>
                                </tr>



                                <tr>
                                    <th scope="row">Use specific name</th>
                                    <td>{{.StoredProc.UseSpecificName}}</td>
                                </tr>


                                <tr>
                                    <th scope="row">Result sets</th>
                                    <td>{{.StoredProc.ResultSets}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Data Access</th>
                                    <td>{{.StoredProc.DataAccess}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Modified</th>
                                    <td>{{.StoredProc.Modified}}</td>
                                </tr>

                                {{if .Features.AllowHtmlTemplates}}
                                <tr>
                                    <th scope="row">HTML Template</th>
                                    <td>{{.StoredProc.HtmlTemplate}}</td>
                                </tr>
                                {{end}}
                                <tr>
                                    <th scope="row">Maximum log entries</th>
                                    <td>{{.StoredProc.MaxlogEntries}}</td>
                                </tr>



                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Parameter -->





            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card " style="height: 100%;">
            <div class="card-header">
                <p class="h5">
                    Allowed for servers
                </p>
            </div>
            <div class="card-body">
                <table id="logids" class="table   table-borderless table-responsive-sm table-striped    ">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>

                {{range .StoredProc.AllowedOnServers}}
                <tr>
                    <td>{{.Name}}</td>
                

                <td>
                    <form class="form-inline" method="POST" action="/sp/deleteassignserver">
                        <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                        <input type="hidden" name="spid" value="{{$.StoredProc.ID}}">
                        <input type="hidden" name="serverid" value="{{.ID}}">
                        
                        <button type="submit" class="btn btn-danger mb-2">Delete</button>
                    </div>
                    </form>

                </td>
                </tr>
                {{end}}
                    </tbody>
                    </table>
            </div>
            <hr />












            <form class="form-inline" method="POST" action="/sp/assignserver">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <input type="hidden" name="spid" value="{{.StoredProc.ID}}">
                <div class="form-group">
                    <div class="form-group mx-sm-3 mb-2">
                    <label for="defaultserver">Assign Server ...: </label>
                <SELECT id="defaultserver" class="form-control" name="serverid">
                    
    
                    {{if .Servers}}
                    {{range .Servers}}
                    <OPTION  value="{{.ID}}">{{.Name}}</OPTION>
                    {{end}}
                    {{end}}
                </SELECT>
                </div>
                <button type="submit" class="btn btn-ghost-primary mb-2">Assign</button>
            </div>
            </form>

        </div>
    </div>

</div>

<!-- Parameter -->

<div class="row p-2">
    <div class="col">
        <form action="/sp/call" method="POST">
            <div class="card ">
                <div class="card-header">
                    <p class="h5">
                        Parameters <button type="submit" class="btn btn-ghost-primary  float-right">Call</button>
                    </p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">


                            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                            <input type="hidden" name="id" value="{{.StoredProc.ID}}">


                            <table id="savedqlist"
                                class="table   table-borderless table-responsive-sm table-striped    ">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Mode</th>
                                        <th>Name</th>
                                        {{if $.Features.AllowParameterAlias}} <th>Alias</th> {{end}}

                                        <th>Data Type</th>
                                        <th>Precision</th>
                                        <th>Scale</th>
                                        <th>MaxLength</th>
                                        <th>Default Value</th>
                                        <th>Test Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{if .StoredProc.Parameters}}
                                    {{range .StoredProc.Parameters}}
                                    <tr>
                                        <td>{{.Position}}</td>
                                        <td>{{.Mode}}</td>
                                        <td>{{.Name}}</td>
                                        {{if $.Features.AllowParameterAlias}} <td>{{.Alias}}</td>{{end}}
                                        <td>{{.Datatype}}</td>
                                        <td>{{.Precision}}</td>
                                        <td>{{.Scale}}</td>
                                        <td>{{.MaxLength}}</td>
                                        <td>{{.GetDefaultValueX}}</td>

                                        <td>
                                            {{if ne .Mode "OUT"}}
                                            <div class="form-group">

                                                <input id="{{.GetNameToUse false}}" class="form-control  " type="text"
                                                    name="{{.GetNameToUse false}}" aria-describedby="{{.GetNameToUse false}}help"
                                                    placeholder="{{.GetNameToUse false}}" value='{{.GivenValue}}' required></input>






                                            </div>
                                            {{end}}
                                        </td>



                                    </tr>
                                    {{end}}

                                    {{else}}
                                    {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>            
        </form>
    </div>
</div>

<div class="row p-2">
    <div class="col-xl ">
        <div class="card ">
            <div class="card-header">
                <p class="h5">
                    Response Structure
                </p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <pre>{{.StoredProc.ResponseFormat}}</pre>

                    </div>
                </div>
            </div>
        </div>
    </div>

  
</div>

{{if .Features.AllowPromotion}}
{{ if .StoredProc.Promotionsql }}

<div class="row p-2">
    <div class="col-xl ">
        <div class="card ">
            <div class="card-header">
                <p class="h5">
                    Promotion query
                </p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <pre>{{.StoredProc.Promotionsql}}</pre>

                    </div>
                </div>
            </div>
        </div>
    </div>

  
</div>
{{end}}

{{end}}

{{end}}


{{block "aftercontent" .}}
<script>
  var clipboard = new ClipboardJS('.copyclip');


clipboard.on('success', function(e) {
  

    Swal.fire({
      position: 'top-end',
      icon: "success",
      text: "Copied to clipboard",
      showConfirmButton: false,
      timer: 2000,
      showCloseButton: true
    })

    e.clearSelection();
});

clipboard.on('error', function(e) {
    console.error('Action:', e.action);
    console.error('Trigger:', e.trigger);
});
</script>
{{end}}