{{define "title"}}
Test Mode
{{end}}

{{define "content"}}
<div class="row p-2">
  <div class="col">
    <div class="card ">
      <div class="card-header">
        <p class="h5">GoQHttp Test mode #How it works?</p>
      </div>
      <div class="card-body">
        <h4>In "Test Mode" all the features of GoQHttp are available.</h4>
          <p class="h6 m-3">
          But due to limited resources, following limitations are in place. 

        </p>
        <p class="h6 m-3">
          <ol>
            <li>Maximum 50 endpoints are allowed in the application.<br><br>
            <li>Maximum 2 endpoints are allowed per user<br><br></li>
            <li>Database may resets at 8AM IST.<br><br></li>
             
              
            
          </ol>
        
        </p>
        <br><br>
     
      </div>
    </div>
  </div>
</div>
 
{{end}}


 