{{define "title"}}
Users
{{end}}

{{define "content"}}

<div class="row p-2">
    <div class="col">
      <div class="card ">
        <div class="card-header">
          <p class="h5">Users <a class="btn btn-ghost-info float-right" href="/users/add">+Add</a></p>
        </div>
        <div class="card-body">
          <table id="rbackrolelist"
            class="table   table-borderless table-responsive-sm table-striped    ">
            <thead class="thead-dark">
  
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Server</th>
                <th>Super User</th>
                <th>Staff</th>

                <th>Verified</th>
 
                <th>Options </th>

            </tr>
        </thead>
        <tbody>
            {{if .Users}}

            {{range .Users}}
            <tr>
                <td>{{.Email}}   </td>

                <td>{{.Name}} </td>
                <td>{{.ServerId |servername}} </td>
                <td>{{.IsSuperUser | yesNo}} </td>
                <td>{{.IsStaff | yesNo}} </td>

                <td>{{.HasVerified | yesNo}} </td>
                 

                <td>

                    <a class="btn btn-ghost-info  " href='/users/edit/{{.ID}}'>   
                        <svg class="c-icon">
                        <use xlink:href="/static/coreui/vendors/coreui/icons/svg/free.svg#cil-pencil"></use>
                    </svg>
                  </a>
                      

       


                 <a class="btn btn-ghost-info" 
                 data-toggle="tooltip" data-placement="bottom" title="Postman collection" 
                 href='/postman/u/{{.ID}}'  >   
                  <svg class="c-icon mfe-2">
                  <use xlink:href="/static/coreui/vendors/coreui/icons/svg/free.svg#cil-arrow-bottom"></use>
              </svg></a>

              <a class="btn btn-ghost-danger" 
              data-toggle="tooltip" data-placement="bottom" title="Delete" 
              href='/users/delete/{{.ID}}'  >   
               <svg class="c-icon mfe-2">
               <use xlink:href="/static/coreui/vendors/coreui/icons/svg/free.svg#cil-trash"></use>
           </svg></a>
                </td>

            </tr>
            {{end}}
            {{end}}
        </tbody>
    </table>

</div>
</div>
</div>
</div>
{{end}}


{{define "aftercontent"}}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#rbackrolelist').DataTable({
            "pageLength": 100,
            "language": {
                "emptyTable": "No records."
            }
        });
    });
</script>
{{end}}