{{define "title"}}
Reset
{{end}}

{{define "content"}}




<div class="card p-4" style="opacity: 80%">
    <div class="card-body">


        <h1>#QHttp</h1>
        <p class="text-muted"> Sign In to your account </p>

        <form action='' method='POST' novalidate>
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

     
 

            <div class="input-group mb-4">
                <div class="input-group-prepend"><span class="input-group-text">
                        <svg class="c-icon">
                            <use xlink:href="/static/coreui/vendors/coreui/icons/svg/free.svg#cil-lock-locked">
                            </use>
                        </svg></span></div>
                <input class="form-control" name="password" id="id_password" type="password" required
                    placeholder="New Password">

                {{with .Form.FieldErrors.email}}
                <div class='invalid-feedback'>{{.}}</div>
                {{end}}
            </div>

     

          
            <div class="row">
                <div class="col-6">
                    <button type="submit" id="login_button" class="btn btn-primary px-4 c-loading-button"
                        data-coreui="loading-button" data-timeout="500" data-progress="true">Submit</button>
                </div>




               
            </div>
        </form>
        {{end}}