{{define "title"}}
Reset
{{end}}

{{define "content"}}




<div class="card p-4" style="opacity: 80%">
    <div class="card-body">


        <h1>#QHttp</h1>
        <p class="text-muted"> Please pick an option </p>

        <form action='/user/trouble' method='POST' novalidate>
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

     

            <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text">
                        <svg class="c-icon">
                            <use xlink:href="/static/coreui/vendors/coreui/icons/svg/free.svg#cil-envelope-closed"></use>
                        </svg></span></div>
                <input class="form-control {{with .Form.FieldErrors.email}} is-invalid {{end}}" name="email" required
                    maxlength="150" id="id_login" type="email" value='{{.Form.Email}}' placeholder="Email">

                {{with .Form.FieldErrors.email}}
                <div class='invalid-feedback'>{{.}}</div>
                {{end}}
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="option" id="exampleRadios2" value="resetpass" checked>
                <label class="form-check-label" for="exampleRadios2">
                  Reset Password
                </label>
              </div>
              <br>

              
            <div class="form-check">
                <input class="form-check-input" type="radio" name="option" id="exampleRadios1" value="reverify" >
                <label class="form-check-label" for="exampleRadios1">
                  Resend verification Email
                </label>

              
              </div>
            
              <br>

              <br>


     

          
            <div class="row">
                <div class="col-6">
                    <button type="submit" id="login_button" class="btn btn-primary px-4 c-loading-button"
                        data-coreui="loading-button" data-timeout="500" data-progress="true">Submit</button>
                </div>


                <div class="col-6 text-right">
                    <a class="btn btn-link px-0" href="/user/login" type="button"> back to login </a>
                </div>

              
            </div>
        </form>
        {{end}}