{{define "title"}}
Signup
{{end}}

{{define "content"}}




<div class="card p-4" style="opacity: 80%">
    <div class="card-body">


        <h1>#QHttp</h1>
        <p class="text-muted">Welcome. Lets create a mew account for you.</p>

        <form action='/user/signup' method='POST' novalidate>
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

            <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text">
                        <svg class="c-icon">
                            <use xlink:href="/static/coreui/vendors/coreui/icons/svg/free.svg#cil-user"></use>
                        </svg></span></div>
                <input class="form-control {{with .Form.FieldErrors.name}} is-invalid {{end}}" name="name" required
                    maxlength="150" id="id_name" type="text" value='{{.Form.Name}}' placeholder="Full Name">

                {{with .Form.FieldErrors.name}}
                <div class='invalid-feedback'>{{.}}</div>
                {{end}}
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text">
                        <svg class="c-icon">
                            <use xlink:href="/static/coreui/vendors/coreui/icons/svg/free.svg#cil-envelope-closed"></use>
                        </svg></span></div>
                <input class="form-control {{with .Form.FieldErrors.email}} is-invalid {{end}}" name="email" required
                    maxlength="150" id="id_login" type="email" value='{{.Form.Email}}' placeholder="Email">

                {{with .Form.FieldErrors.email}}
                <div class='invalid-feedback'>{{.}}</div>
                {{end}}
            </div>


            <div class="input-group mb-4">
                <div class="input-group-prepend"><span class="input-group-text">
                        <svg class="c-icon">
                            <use xlink:href="/static/coreui/vendors/coreui/icons/svg/free.svg#cil-lock-locked">
                            </use>
                        </svg></span></div>
                <input class="form-control" name="password" id="id_password" type="password" required
                    placeholder="Password">

                {{with .Form.FieldErrors.email}}
                <div class='invalid-feedback'>{{.}}</div>
                {{end}}
            </div>


          
            <div class="row">
                <div class="col-6">
                    <button type="submit" id="login_button" class="btn btn-primary px-4 c-loading-button"
                        data-coreui="loading-button" data-timeout="500" data-progress="true"> Sign up </button>
                </div>




                <div class="col-6 text-right">
                    <a class="btn btn-link px-0" href="/user/login" type="button"> Already signed up? </a>
                </div>
            </div>
        </form>
        {{end}}