{{define "title"}}
Table list
{{end}}

 




{{define "content"}}
<div class="row p-2">
    <div class="col">
      <div class="card ">
        <div class="card-header">
          <p class="h5">Contacts</p>
        </div>   
        <div class="card-body">
            <table id="tablelist"           class="table   table-borderless table-responsive-sm table-striped    ">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>

                        <th>Phone#</th>
                        <th>Address</th>
                        <th>Options</th>
                    </tr>
                </thead>
            
                <tbody>
                    {{range response.Data.DATASET_1}}
                    <tr>
                        <td>{{.UNIQUE_ID}}</td>
                        <td>{{.FIRST_NAME}}</td>
                        <td>{{.LAST_NAME}}</td>
                        <td>{{.PHONE_NO}}</td>
                        <td>{{.ADDRESS}}</td>
                        <td>
                            <a href="/tapi/contactview?UNIQUEID={{.UNIQUE_ID}}">View</a>
                        </td>
                    </tr> 
                    {{end}}   


                </tbody>
            </table>
        </div> 
    </div> 
</div> 

</div> 

 
   
{{end}}