{{define "title"}}
Table list
{{end}}




 


{{define "content"}}
<div class="row p-2">
    <div class="col">
      <div class="card ">
        <div class="card-header">
          <p class="h5">Deleted</p>
        </div>   
        <div class="card-body">
            


                    
                        <div>Status ...... {{.Data.STATUS}}</div>
                        <div>Message....... {{.Data.MESSAGE}}</div>
                        
                        

              
        </div> 
    </div> 
</div> 

</div> 

 
   
{{end}}