{{define "title"}}
Table list
{{end}}




 




{{define "content"}}
<div class="row p-2">
    <div class="col">
      <div class="card ">
        <div class="card-header">
          <p class="h5">Contacts</p>
        </div>   
        <div class="card-body">
             
                    <form>
                      <div class="form-group">
                        <label for="FIRSTNAME">First Name</label>
                        <input id="FIRSTNAME"   type="text"
                            name="FIRSTNAME"  placeholder="" 
                            required></input>
                      </div>


                      <div class="form-group">
                        <label for="LASTNAME">Last Name</label>
                        <input id="LASTNAME"   type="text"
                            name="LASTNAME"  placeholder="" 
                            required></input>
                      </div>


                      <div class="form-group">
                        <label for="PHONENO">Phone#</label>
                        <input id="PHONENO"   type="phone"
                            name="PHONENO"  placeholder="" 
                            required></input>
                      </div>


                      <div class="form-group">
                        <label for="ADDRESS">Address</label>
                        <input id="ADDRESS"   type="text"
                            name="ADDRESS"  placeholder="" 
                            required></input>
                      </div>

                      <button class="btn btn-danger" 
                      hx-target="body"
                      hx-push-url="true"
                      hx-post="/tapi/contactadd">Add</button>

                    </form>
              
        </div> 
    </div> 
</div> 

</div> 

 
   
{{end}}