{{define "spoptions"}}

{{if .EndPointName}}
 


<li class="c-sidebar-nav-title">EndPoint: 
</li>
        
<li class="c-sidebar-nav-item">
  <a class="c-sidebar-nav-link"  href='/sp/{{.ID}}'>{{.EndPointName}}</a>

    
 

</li>

{{end}}



<li class="c-sidebar-nav-item">
      
<a class="c-sidebar-nav-link" href='/sp/logs/{{.ID}}' >
    <svg class="c-icon mfe-2">
        <use xlink:href="/static/coreui/vendors/coreui/icons/svg/free.svg#cil-speech"></use>
    </svg>

    Logs</a>
</li>


<li class="c-sidebar-nav-item">
    <a class="c-sidebar-nav-link" href='/sp/paramalias/{{.ID}}' >
         
          <svg class="c-icon mfe-2">
            <use xlink:href="/static/coreui/vendors/coreui/icons/svg/free.svg#cil-copy"></use>
        </svg>

        Param Alias</a>
 </li>
 <li class="c-sidebar-nav-item">
      

 
    <a class="c-sidebar-nav-link" href='/sp/update/{{.ID}}' >

      <svg class="c-icon mfe-2">
        <use xlink:href="/static/coreui/vendors/coreui/icons/svg/free.svg#cil-pencil"></use>
    </svg>Edit</a>
    
</li>


<li class="c-sidebar-nav-item">
    <a class="c-sidebar-nav-link" href='/sp/delete/{{.ID}}' >
         
          <svg class="c-icon mfe-2">
            <use xlink:href="/static/coreui/vendors/coreui/icons/svg/free.svg#cil-trash"></use>
        </svg>

        Delete</a>
 </li>
<li class="c-sidebar-nav-divider"></li>


 
 
 
 
<li class="c-sidebar-nav-divider"></li>

 


 
 <hr>
 
{{end}}