{{define "content"}}
Hi, {{.User.Name}} <br>
<br>
Please use the following link to reset your password: (If click does not work, copy paste URL in your browser)
<br><br>
<a href="{{.VerficationLink}} ">{{.VerficationLink}} </a>

<br>

Thank you
{{end}}