{{define "content"}}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>GoMockAPI</title>


  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/public/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/public/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/public/assets/img/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="/static/public/assets/img/favicons/favicon.ico">
  <link rel="manifest" href="/static/public/assets/img/favicons/manifest.json">
  <meta name="msapplication-TileImage" content="/static/public/assets/img/favicons/mstile-150x150.png">
  <meta name="theme-color" content="#ffffff">


  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link href="/static/public/assets/css/theme.css" type="text/css" rel="stylesheet" />

</head>


<body>

  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
      <div class="container"><a class="navbar-brand d-flex align-items-center fw-bold fs-2" href="index.html">
          <div class="text-warning">GoMock</div>
          <div class="text-1000">API</div>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto pt-2 pt-lg-0">
            <li class="nav-item" data-anchor="data-anchor"><a class="nav-link fw-medium active" aria-current="page"
                href="#home">Home</a></li>
            <li class="nav-item" data-anchor="data-anchor"><a class="nav-link fw-medium" href="#features">Key
                Features</a></li>
            <li class="nav-item" data-anchor="data-anchor"><a class="nav-link fw-medium" href="#pricing">Pricing</a>
            </li>
            <li class="nav-item" data-anchor="data-anchor"><a class="nav-link fw-medium"
                href="#testimonial">Testimonial</a></li>
            <li class="nav-item" data-anchor="data-anchor"><a class="nav-link fw-medium" href="#faq">FAQ</a></li>
          </ul>

          <a href="{{$.HostUrl}}/endpoints" class="btn btn-lg btn-primary rounded-pill order-0 m"
            type="submit">
            {{if .IsAuthenticated}}
            Go to App
            {{else}}
            Try for free
            {{end}}
          </a>

        </div>
      </div>
    </nav>
    <section class="py-0" id="home">
      <div class="bg-holder"
        style="background-image:url(/static/public/assets/img/illustrations/hero-bg.png);background-position:bottom;background-size:cover;">
      </div>
      <!--/.bg-holder-->

      <div class="container position-relative">
        <div class="row align-items-center py-8">
          <div class="col-md-5 order-md-1 text-center text-md-start"><img class="img-fluid mb-4"
            src="/static/public/assets/img/illustrations/ultimate-feature.png" alt="" /></div>
          <div class="col-md-7 col-lg-6 text-center text-md-start">
            <span
              class="badge bg-light rounded-pill text-dark align-items-center d-flex flex-row-reverse justify-content-end mx-auto mx-md-0 ps-0 w-75 w-sm-50 w-md-75 w-xl-50 mb-3">
              Best solution to create dummy APIs<img class="img-fluid float-start me-3"
                src="/static/public/assets/img/illustrations/arrow-right.png" alt="" /></span>
            <h1 class="mb-4 display-3 fw-bold lh-sm">No code solution to <br class="d-block d-lg-none d-xl-block" /> remove API bottlenecks.</h1>
            <p class="mt-3 mb-4 fs-1">Mock internal or any 3rd party APIs with just few clicks <br
                class="d-none d-lg-block" />and remove dependencies on under development APIs.</p><a
              class="btn btn-lg btn-primary rounded-pill hover-top" href="{{$.HostUrl}}/user/signup" role="button">
              {{if .IsAuthenticated}}
              Go to App
              {{else}}
              Try for free
              {{end}}
            </a>
              <!-- <a class="btn btn-link ps-md-4" href="#" role="button"> Watch demo video</a> -->
          </div>
        </div>
      </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!-- <section class="py-7">

      <div class="container">
        <div class="row">
          <div class="col-12 mx-auto align-items-center text-center">
            <p class="mb-4">Trusted by companies like</p>
          </div>
        </div>
        <div class="row align-items-center justify-content-center justify-content-lg-around">
          <div class="col-6 col-sm-4 col-md-4 col-lg-2 px-md-0 mb-5 mb-lg-0 text-center"><img
              src="/static/public/assets/img/gallery/company-1.png" alt="" /></div>
          <div class="col-6 col-sm-4 col-md-4 col-lg-2 px-md-0 mb-5 mb-lg-0 text-center"><img
              src="/static/public/assets/img/gallery/company-2.png" alt="" /></div>
          <div class="col-6 col-sm-4 col-md-4 col-lg-2 px-md-0 mb-5 mb-lg-0 text-center"><img
              src="/static/public/assets/img/gallery/company-3.png" alt="" /></div>
          <div class="col-6 col-sm-4 col-md-4 col-lg-2 px-md-0 mb-5 mb-lg-0 text-center"><img
              src="/static/public/assets/img/gallery/company-4.png" alt="" /></div>
          <div class="col-6 col-sm-4 col-md-4 col-lg-2 px-md-0 mb-5 mb-lg-0 text-center"><img
              src="/static/public/assets/img/gallery/company-1.png" alt="" /></div>
        </div>
      </div>

    </section> -->
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <section class="py-5" id="features">
      <div class="container-lg">
        <div class="row align-items-center">
          <div class="col-md-5 col-lg-6 order-md-0 text-center text-md-start"><img class="img-fluid"
              src="/static/public/assets/img/illustrations/feature-bg.png" width="550" alt="" /></div>
          <div class="col-md-7 col-lg-6 px-sm-5 px-md-0">
            <h6 class="fw-bold fs-4 display-3 lh-sm">Awesome features</h6>
            <p class="my-4">Remove bottlenecks and increase productivity <br
                class="d-none d-xl-block" />during both development and QA phase.</p>
            
                <div class="d-flex align-items-center mb-5">
                  <div><img class="img-fluid" src="/static/public/assets/img/illustrations/prototype.png" width="90" alt="" /></div>
                  <div class="px-4">
                    <h5 class="fw-bold text-primary">Quick Prototyping</h5>
                    <p>A simple interface to create API prototype.  <br class="d-none d-xl-block"> Front-end teams have to wait for backend developers<br
                        class="d-none d-xl-block">  to complete API development</p>
                  </div>
                </div>
            
                <div class="d-flex align-items-center mb-5">
              <div><img class="img-fluid" src="/static/public/assets/img/illustrations/vector.png" width="90" alt="" /></div>

              <div class="px-4">
                <h5 class="fw-bold text-success">Dynamic Response</h5>
                <p>Build dynamic responses without <br class="d-none d-xl-block"> any coding or technical experties<br
                    class="d-none d-xl-block"> </p>
              </div>
            </div>

            <div class="d-flex align-items-center mb-5">
              <div><img class="img-fluid" src="/static/public/assets/img/illustrations/fast-performance.png" width="90" alt="" /></div>

              <div class="px-4">
                <h5 class="fw-bold text-danger">Blazing fast</h5>
                <p>GoMockAPI  is blazing fast. <br
                    class="d-none d-xl-block"> So no additional latency.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-5">

      <div class="container">
        <div class="row align-items-center mb-6">
          <div class="col-md-5 col-lg-4 offset-lg-1">
            <h1 class="fw-bold lh-base">Generate dynamic response  conditionally</h1>
          </div>
          <div class="col-md-6 col-lg-5 offset-lg-1 border-start py-5 ps-5">
            <p class="mb-0">Easly modify the response, based on request, path and query parameters, or tell the system to generate random values.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-lg-3 offset-lg-1 mb-4">
            <div class="py-4"><img class="img-fluid" src="/static/public/assets/img/illustrations/network.png" width="90" alt="" />
            </div>
            <h5 class="fw-bold text-primary">On-prem and cloud</h5>
            <p class="mt-2 mb-0">We offer both On-prem and cloud based solutions. 
            </p>
          </div>
          
          <div class="col-md-4 col-lg-3 offset-lg-1 mb-4">
            <div class="py-4"><img class="img-fluid" src="/static/public/assets/img/illustrations/automatic.png" width="90" alt="" />
            </div>
            <h5 class="fw-bold text-danger">  Cost  efficient   </h5>
            <p class="mt-2 mb-0">GoMockAPI is very  efficient on resource usage and eventually cost  efficient.
            </p>
          </div>

          <div class="col-md-4 col-lg-3 offset-lg-1 mb-4">
            <div class="py-4"><img class="img-fluid" src="/static/public/assets/img/illustrations/rewards.png" width="90" alt="" />
            </div>
            <h5 class="fw-bold text-success">Simple interface</h5>
            <p class="mt-2 mb-0">GoMockAPI has a very simple interface with no learning curve.
            </p>
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->




    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-6">

      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5 order-md-0 text-center text-md-start"><img class="img-fluid mb-4"
              src="/static/public/assets/img/illustrations/call-to-action.png" width="550" alt="" /></div>
          <div class="col-md-6 text-center text-md-start offset-md-1">
            <h6 class="fw-bold fs-4 display-3 lh-sm">Designed &amp; built using<br />the latest technology <br />stack</h6>
            <!-- <p class="my-4 pe-xl-5"> The rise of mobile devices transforms the way we consume information entirely and
              the world's most elevant channels such as Facebook.</p> -->
              
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->




    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-6">

      <div class="container">
        <div class="row justify-content-center mb-6">
          <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
            <h6 class="fw-bold fs-4 display-3 lh-sm">Why you should choose <br />GoMockAPI </h6>
            <p class="mb-0">Front-end/UI teams always have a dependency on back-end services. Sometimes the back-end services are not ready, and sometimes, systems are down. Eventually, these dependencies become a blocker. <br /><br /> GoMockAPI helps you easily create dummy APIs without any coding effort to resolve these dependencies. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-6">
            <div class="text-center px-lg-3"><img class="img-fluid mb-3" src="/static/public/assets/img/illustrations/ux.png"
                width="90" alt="" />
              <h5 class="fw-bold">UI Planning</h5>
              <p class="mb-md-0">Use mock APIs to get a clear picture of available data during UI planning.
              </p>
            </div>
          </div>

          <div class="col-md-4 mb-6">
            <div class="text-center px-lg-3"><img class="img-fluid mb-3" src="/static/public/assets/img/illustrations/app.png"
                width="90" alt="" />
              <h5 class="fw-bold">Development</h5>
              <p class="mb-md-0">Both Front-end and back-end developers can use mock API with waiting for internal or 3rd party API availbility.
              </p>
            </div>
          </div>
          <div class="col-md-4 mb-6">
            <div class="text-center px-lg-3"><img class="img-fluid mb-3" src="/static/public/assets/img/illustrations/time-award.png"
                width="90" alt="" />
              <h5 class="fw-bold">Testing</h5>
              <p class="mb-md-0">Testing teams can use mock APIs to get desired response from API calls to  effectively test the application. 
              </p>
            </div>
          </div>
          <!-- <div class="col-md-4 mb-6">
            <div class="text-center px-lg-3"><img class="img-fluid mb-3" src="/static/public/assets/img/illustrations/cloud.png"
                width="90" alt="" />
              <h5 class="fw-bold">Cloud Storage</h5>
              <p class="mb-md-0">Get your blood tests delivered at home collect a sample from the news your blood tests.
              </p>
            </div>
          </div> -->
          <!-- <div class="col-md-4 mb-6">
            <div class="text-center px-lg-3"><img class="img-fluid mb-3"
                src="/static/public/assets/img/illustrations/customization.png" width="90" alt="" />
              <h5 class="fw-bold">Customization</h5>
              <p class="mb-md-0">Get your blood tests delivered at home collect a sample from the news your blood tests.
              </p>
            </div>
          </div> -->

          <!-- <div class="col-md-4 mb-6">
            <div class="text-center px-lg-3"><img class="img-fluid mb-3" src="/static/public/assets/img/illustrations/support.png"
                width="90" alt="" />
              <h5 class="fw-bold">Customer Support</h5>
              <p class="mb-md-0">Get your blood tests delivered at home collect a sample from the news your blood tests.
              </p>
            </div>
          </div> -->
        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->




    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!-- <section class="py-6">

      <div class="container">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5 order-md-1 text-center text-md-start"><img class="img-fluid mb-4"
                src="/static/public/assets/img/illustrations/ultimate-feature.png" alt="" /></div>
            <div class="col-md-6 text-center text-md-start">
              <h6 class="fw-bold fs-4 display-3 lh-sm">Ultimate features<br />that we built</h6>
              <p class="my-4 pe-xl-5"> The rise of mobile devices transforms the way we consume information entirely.
              </p>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-4">
                    <div class="py-4"><img class="img-fluid" src="/static/public/assets/img/illustrations/app.png" width="90" alt="" />
                    </div>
                    <h5 class="fw-bold text-undefined">App Development</h5>
                    <p class="mt-2 mb-0">Get your blood tests delivered at home collect a sample from the news your
                      blood tests.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-4">
                    <div class="py-4"><img class="img-fluid" src="/static/public/assets/img/illustrations/ux.png" width="90" alt="" />
                    </div>
                    <h5 class="fw-bold text-undefined">UX Planning</h5>
                    <p class="mt-2 mb-0">Get your blood tests delivered at home collect a sample from the news your
                      blood tests.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-4">
                    <div class="py-4"><img class="img-fluid" src="/static/public/assets/img/illustrations/cloud.png" width="90"
                        alt="" /></div>
                    <h5 class="fw-bold text-undefined">Cloud Storage</h5>
                    <p class="mt-2 mb-0">Get your blood tests delivered at home collect a sample from the news your
                      blood tests.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-4">
                    <div class="py-4"><img class="img-fluid" src="/static/public/assets/img/illustrations/support.png" width="90"
                        alt="" /></div>
                    <h5 class="fw-bold text-undefined">Customer support</h5>
                    <p class="mt-2 mb-0">Get your blood tests delivered at home collect a sample from the news your
                      blood tests.</p>
                  </div>
                </div>
              </div><a class="btn btn-lg btn-primary rounded-pill hover-top" href="#" role="button">See all</a>
            </div>
          </div>
        </div>
      </div> -->
      <!-- end of .container-->

    <!-- </section> -->
    <!-- <section> close ============================-->
    <!-- ============================================-->




    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-8" id="pricing">

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xxl-5 text-center mb-3">
            <h6 class="fw-bold fs-4 display-3 lh-sm mb-3">Start building, without extra charges</h6>
          
          </div>
        </div>
        <div class="row flex-center">
          <div class="col-12 mb-3">
        
          </div>
          <div class="col-lg-4">
            <div class="card shadow-lg mb-4 border-0">
              <div class="card-header border-bottom-0 pt-7 pb-5">
                <div class="d-flex justify-content-center">
                  <h1 class="fw-bold">$0</h1><span class="d-flex align-items-center">/month</span>
                </div>
                <h5 class="fw-bold text-center">Full featured trial</h5><span class="text-700 text-center d-block">No card information required</span>
              </div>
              <div class="card-body mx-auto">
                <ul class="list-unstyled mb-4">
                  <li class="text-700 py-2 text-secondary">Signup &amp; start building</li>
                  <li class="text-700 py-2 text-secondary">Simple interface</li>
                  <li class="text-700 py-2 text-secondary">All features are available</li>
                </ul><a class="btn btn-lg btn-primary rounded-pill mb-3" href="{{$.HostUrl}}/user/signup">
                  {{if .IsAuthenticated}}
                  Go to App
                  {{else}}
                  Start free trial
                  {{end}}
                  
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card shadow-lg mb-4">
              <div class="card-header border-bottom-0 pt-7 pb-5">
                <div class="d-flex justify-content-center">
                  <h1 class="fw-bold">Talk to us</h1><span class="d-flex align-items-center"></span>
                </div>
                <h5 class="fw-bold text-center">Commercial usage</h5><span class="text-700 text-center d-block"></span>
              </div>
              <div class="card-body mx-auto">
                <ul class="list-unstyled mb-4">
                  <li class="text-700 py-2 text-secondary">On-prem &amp; Cloud solutions</li>
                  <li class="text-700 py-2 text-secondary">Easy to deploy</li>
                  <li class="text-700 py-2 text-secondary">No maintaince</li>
                </ul>
                <div class="d-flex flex-column"> <a class="btn btn-lg btn-primary rounded-pill mb-3" href="#">Contact us</a>  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>


     <!-- ============================================-->
    <!-- <section> begin ============================-->
      <section class="py-8" id="pricing">

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xxl-5 text-center mb-3">
            
            </div>
          </div>
          <div class="row flex-center">
            <div class="col-12 mb-3">
          
            </div>
    
    
  
            <div class="col-lg-8">
              <div class="card shadow-lg mb-4">
                
                <div class="card-body mx-auto">
                  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScBItAYgN5gH1zSFGc36aEwIKC3noayOilluSehWb0RgIQ4qw/viewform?embedded=true" width="640" height="979" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </div>
  
  
   
              </div>
            </div>
  
  
  
  
          </div>
        </div>
        <!-- end of .container-->
  
      </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


      <!-- <section class="py-8" id="testimonial">
        <div class="container-lg">
          <div class="row flex-center">
            <div class="col-sm-10 col-md-5 col-lg-5 order-md-0 text-center text-md-start"><img class="img-fluid mb-4"
                src="/static/public/assets/img/illustrations/testimonial.png" alt="" /></div>
            <div class="col-sm-10 col-md-6 col-lg-6 text-center text-md-start offset-md-1">
              <h6 class="fw-bold fs-4 display-3 lh-sm"> Meet Client Satisfaction <br />by using product</h6>
              <p class="my-4 pe-xl-5"></p>
              <div class="carousel slide" id="carouselExampleDark" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row h-100">
                      <div class="col-12">
                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="#FFCC00" viewBox="0 0 16 16">
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                          </path>
                        </svg>
                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="#FFCC00" viewBox="0 0 16 16">
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                          </path>
                        </svg>
                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="#FFCC00" viewBox="0 0 16 16">
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                          </path>
                        </svg>
                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="#FFCC00" viewBox="0 0 16 16">
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                          </path>
                        </svg>
                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="#FFCC00" viewBox="0 0 16 16">
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                          </path>
                        </svg>
                        <h5 class="my-4 fw-bold lh-sm">User friendly &amp; Customizable</h5>
                        <p class="mb-0 text-center text-md-start">Bring to the table win-win survival strategies to ensure
                          proactive domination. At the end of the day, going forward, a new normal that has evolved from
                          generation X is on the runway heading towards a streamlined cloud solution. User generated
                          content in real-time will have multiple touchpoints for offshoring.</p>
                      </div>
                      <div class="col-xl-6 pt-4 d-flex d-sm-block flex-center">
                        <div class="d-flex align-items-md-center"><img class="img-fluid me-4 me-md-3 me-lg-4"
                            src="/static/public/assets/img/gallery/user.png" width="100" alt="" />
                          <div class="w-lg-50 my-3">
                            <h5 class="mb-0 fw-bold">Zoltan Nemeth</h5>
                            <p class="fw-normal mb-0">CEO of Pixer Lab</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <div class="row h-100">
                      <div class="col-12">
                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="#FFCC00" viewBox="0 0 16 16">
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                          </path>
                        </svg>
                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="#FFCC00" viewBox="0 0 16 16">
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                          </path>
                        </svg>
                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="#FFCC00" viewBox="0 0 16 16">
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                          </path>
                        </svg>
                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="#FFCC00" viewBox="0 0 16 16">
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                          </path>
                        </svg>
                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="#FFCC00" viewBox="0 0 16 16">
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                          </path>
                        </svg>
                        <h5 class="my-4 fw-bold lh-sm">User friendly &amp; Customizable</h5>
                        <p class="mb-0 text-center text-md-start">Bring to the table win-win survival strategies to ensure
                          proactive domination. At the end of the day, going forward, a new normal that has evolved from
                          generation X is on the runway heading towards a streamlined cloud solution. User generated
                          content in real-time will have multiple touchpoints for offshoring.</p>
                      </div>
                      <div class="col-xl-6 pt-4 d-flex d-sm-block flex-center">
                        <div class="d-flex align-items-md-center"><img class="img-fluid me-4 me-md-3 me-lg-4"
                            src="/static/public/assets/img/gallery/user-1.png" width="100" alt="" />
                          <div class="w-lg-50 my-3">
                            <h5 class="mb-0 fw-bold">Jhon Doe</h5>
                            <p class="fw-normal mb-0">Web Developer</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row h-100">
                      <div class="col-12">
                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="#FFCC00" viewBox="0 0 16 16">
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                          </path>
                        </svg>
                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="#FFCC00" viewBox="0 0 16 16">
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                          </path>
                        </svg>
                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="#FFCC00" viewBox="0 0 16 16">
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                          </path>
                        </svg>
                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="#FFCC00" viewBox="0 0 16 16">
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                          </path>
                        </svg>
                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="#FFCC00" viewBox="0 0 16 16">
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                          </path>
                        </svg>
                        <h5 class="my-4 fw-bold lh-sm">User friendly &amp; Customizable</h5>
                        <p class="mb-0 text-center text-md-start">Bring to the table win-win survival strategies to ensure
                          proactive domination. At the end of the day, going forward, a new normal that has evolved from
                          generation X is on the runway heading towards a streamlined cloud solution. User generated
                          content in real-time will have multiple touchpoints for offshoring.</p>
                      </div>
                      <div class="col-xl-6 pt-4 d-flex d-sm-block flex-center">
                        <div class="d-flex align-items-md-center"><img class="img-fluid me-4 me-md-3 me-lg-4"
                            src="/static/public/assets/img/gallery/user-2.png" width="100" alt="" />
                          <div class="w-lg-50 my-3">
                            <h5 class="mb-0 fw-bold">Viezh Robert</h5>
                            <p class="fw-normal mb-0">UI/UX Designer</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="position-relative mt-sm-n5"><a class="carousel-control-prev carousel-icon z-index-2"
                    href="#carouselExampleDark" role="button" data-bs-slide="prev"><span
                      class="carousel-control-prev-icon" aria-hidden="true"></span><span
                      class="visually-hidden">Previous</span></a><a class="carousel-control-next carousel-icon z-index-2"
                    href="#carouselExampleDark" role="button" data-bs-slide="next"><span
                      class="carousel-control-next-icon" aria-hidden="true"></span><span
                      class="visually-hidden">Next</span></a></div>
              </div>
            </div>
          </div>
        </div>
      </section> -->


    <!-- ============================================-->
    
    <!-- <section> begin ============================-->
    <section class="py-8" id="faq">

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 text-center mb-3">
            <h6 class="fw-bold fs-4 display-3 lh-sm mb-3">Frequently asked questions</h6>
            <p class="mb-5"></p>
          </div>
        </div>
        <div class="row flex-center">
          <div class="col-lg-9">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item mb-2">
                <h2 class="accordion-header" id="heading1">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                    aria-expanded="true" aria-controls="collapse1"><span
                      class="mb-0 fw-bold text-start fs-1 text-1000">
                      Whats is a Mock API?</span></button>
                </h2>
                <div class="accordion-collapse collapse show" id="collapse1" aria-labelledby="heading1"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body bg-100">
                    A mock API imitates a real API by providing realistic responses to requests. They can be on your local machine or the public Internet. </div>
                </div>
              </div>
              <div class="accordion-item mb-2">
                <h2 class="accordion-header" id="heading2">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2"><span
                      class="mb-0 fw-bold text-start fs-1 text-1000">do I need any coding knowledge?</span></button>
                </h2>
                <div class="accordion-collapse collapse" id="collapse2" aria-labelledby="heading2"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body bg-100">No. GoMockAPI is a no code platform. Basic knowledge of JSON and XML is always helpful.</div>
                </div>
              </div>
              <!-- <div class="accordion-item mb-2">
                <h2 class="accordion-header" id="heading3">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3"><span
                      class="mb-0 fw-bold text-start fs-1 text-1000">What is the required on-prem server configuration?</span></button>
                </h2>
                <div class="accordion-collapse collapse" id="collapse3" aria-labelledby="heading3"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body bg-100">GoMockAPI does not need </div>
                </div>
              </div> -->
              <!-- <div class="accordion-item mb-2">
                <h2 class="accordion-header" id="heading4">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4"><span
                      class="mb-0 fw-bold text-start fs-1 text-1000">Which cloud platform I can deploy the GoMockAPI</span></button>
                </h2>
                <div class="accordion-collapse collapse" id="collapse4" aria-labelledby="heading4"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body bg-100">We preffer Heroku. But, it can be deployed to any platform. Even on a Raspberry PI.</div>
                </div>
              </div> -->
              <div class="accordion-item mb-2">
                <h2 class="accordion-header" id="heading5">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapse5"><span
                      class="mb-0 fw-bold text-start fs-1 text-1000">What do you mean by "Generate dynamic response conditionally" ?</span></button>
                </h2>
                <div class="accordion-collapse collapse" id="collapse5" aria-labelledby="heading5"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body bg-100">GoMockAPI provides a way to create conditions based on request, path or query parameters. Using these conditions you can define the "condition action" to set a response value. For example, for a card payment api, you can create conditions using card number and build approval / denials using these conditions.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- <section class="py-6">
      <hr />
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5 col-lg-7 order-md-1 text-center text-md-start z-index-2 cta-image"><img
              class="img-fluid mb-4 mb-md-0" src="/static/public/assets/img/illustrations/cta.png" width="850" alt="" /></div>
          <div class="col-md-7 col-lg-5 text-center text-md-start">
            <h1 class="display-3 fw-bold lh-sm">Download our App now</h1>
            <p class="my-4"> The rise of mobile devices transforms the way we consume information entirely and the
              world's most elevant channels such as Facebook.</p>
            <div class="d-flex justify-content-center d-md-inline-block"><a class="pe-2 pe-sm-3 pe-md-4" href="!#"><img
                  src="/static/public/assets/img/illustrations/google-play.png" width="160" alt="" /></a><a href="!#"><img
                  src="/static/public/assets/img/illustrations/app-store.png" width="160" alt="" /></a></div>
          </div>
        </div>
      </div>
    </section> -->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-8 bg-1000">

      <div class="container">
        <div class="row flex-center">
          <div class="col-auto mb-5"><a class="pe-2 d-flex align-items-center text-decoration-none fw-bold fs-3"
              href="#">
              <div class="text-warning">GoMock</div>
              <div class="text-white">API</div>
            </a></div>
        </div>
        <div class="row flex-center">
          
        </div>
        <div class="row flex-center">
          
        </div>
        <div class="row flex-center">
          <div class="col-auto">
          
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


  </main>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->




  <!-- ===============================================-->
  <!--    JavaScripts-->
  <!-- ===============================================-->
  <script src="/static/public/vendors/@popperjs/popper.min.js" type="text/javascript"></script>
  <script src="/static/public/vendors/bootstrap/bootstrap.min.js" type="text/javascript"></script>
  <script src="/static/public/vendors/is/is.min.js" type="text/javascript"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll" type="text/javascript"></script>
  <script src="/static/public/assets/js/theme.js" type="text/javascript"></script>

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&amp;display=swap"
    rel="stylesheet" type="text/css">
</body>

</html>
{{end}}